/* General */
:root {
  --main-bg-color: #e3e0f3;
  --secondary-bg-color: #aca7cb;
  --main-text-color: #000000;
  --contrast-color: #fddad7;

  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
}

p {
  margin-bottom: 10px;
}

.bold-text {
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  background: var(--main-bg-color);

  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: var(--secondary-bg-color);

  padding: 5px 20px;
  line-height: 40px;

  font-size: 1.2rem;
  font-weight: 700;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--main-text-color);

  padding: 5px 20px;
  line-height: 25px;
  border: 2px solid transparent;
  border-radius: 5px;

  transition: 0.4s;
}

.nav-link:hover {
  color: #ffffff;
  border: 2px solid var(--contrast-color);
  border-radius: 20px;
}

/* Main */
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  margin-bottom: 1rem;
  padding: 7%;
  padding-bottom: 35px;
}

.section-title {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--secondary-bg-color);
}

.section-list {
  list-style: none;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  padding-top: 50px;
}

.section-profile-photo {
  display: block;
  width: 30%;
  border-radius: 50%;
}

.section-profile-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.section-profile-title {
  border: none;
}


.section-code {
  width: 100%;
  margin: 0 auto;
}


.section-code-title {
  text-align: center;
}


/* Footer */
footer {
  padding: 5px 20px;
  line-height: 40px;

  font-size: 1.2rem;
  font-weight: 700;

  background-color: var(--secondary-bg-color);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-github,
.footer-github:link,
.footer-github:visited {
  position: relative;
  text-decoration: none;

  color: var(--main-text-color);
}

.footer-github::before {
  position: absolute;
  content: "";
  left: -55px;
  top: -4px;
  width: 48px;
  height: 48px;
  background-image: url("../assets/img/github-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}


.footer-rss {
  width: 96px;
  height: 32px;
  padding-top: 40px;
  background-image: url("../assets/img/rs_school_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Media */
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}